# ------------------------------
# Python Virtual Environment
# ------------------------------
venv/
.env

# ------------------------------
# Python Cache Files
# ------------------------------
__pycache__/
*.pyc

# ------------------------------
# Database Files
# ------------------------------
*.db

# ------------------------------
# Uploaded Documents
# ------------------------------
uploads/

# ------------------------------
# ChromaDB Vector Storage
# ------------------------------
db/

# ------------------------------
# OS System Files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Logs
# ------------------------------
*.log
